<h1>About</h1>

<%= link_to 'Home', root_path %>

<p>
  My name is Mandi Howell and I have been developing programs, both desktop and
  web, for over fifteen (15) years. I have had exposure to many languages and
  technologies, but most of my experience has been with Microsoft.NET.

  With this website I'm looking to increase my skillset to include Ruby on Rails.
</p>

<p>
  <a href="https://www.linkedin.com/in/mandi-howell-4116a6140/">LinkedIn Profile</a>
  <br /><a href="https://twitter.com/allst896">Twitter</a>
  <br /><a href="https://github.com/allst896/alpha-blog">GitHub repository for this site</a>
  <br /><a href="https://github.com/allst896/portfolio">Other projects on GitHub</a>
</p>
