<div class="center jumbotron">
  <h1>Thinking...</h1>
  <h3>Proceed at your own risk</h3>

  <%= link_to 'Subscribe', '#', class: "btn btn-primary" %>
</div>

<%= render 'shared/articlelist', articles: @articles %>
